body, html {
  margin: 0;
  padding: 0;
  background-color: white;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url('/Assets/1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  width: 100vw;
}

Navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.hero h3 {
  font-size: 1rem;
  margin: 5rem 0 0 4rem;
}

.hero p {
  font-size: 2.9rem;
  margin: 4rem 0 0 4rem;
}

.nav2 {
  background-color: white;
}

.nav2 h2 {
  margin: 3rem 0 0 4rem;
  font-size: 3rem;
  color: black;
  font-weight: 300;
}

.nav2 p {
  margin: 3rem 0 0 4rem;
  color: black;
  font-size: 1.6rem;
}

.nav2 img {
  display: block;
  margin: 3rem 0 0 4rem;
  max-width: 85%;
  height: auto;
}

/* Add these styles to your CSS file */
/* Update the figures styling */
.figures {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
}

.figurecards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}



.cards {
  border: 1px solid #ccc; /* Grey-colored border on all sides */
  margin: 0px; /* Space between cards */
  border-radius: 5%;
  padding: 35px;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}
.figures h1{
  margin: 20px 0;
}

.informartion {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.img2 {
  flex: 1;
  margin: 4.5rem 0  0 4.8rem;
}

.img2 img {
  max-height: 90vh;
}

.content {
  margin-left: 5rem;
  flex: 2;
  color: black;
  padding-left: 2rem;

}
.content h2{
  font-size: 2.7rem;
}
.content p{
  font-size: 1.2rem;
}
.information2 {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.img3 {
  flex: 1;
}

.img3 img {
  max-height: 90vh;
margin-right: 5rem;
margin: 3rem 6rem 0 0;
border-radius: 5%;
}

.content2 {
  margin-left: 5rem;
  margin: 1rem 0 0 5rem;
  padding-left: 3rem;
  flex: 2;
  color: black;
}

.content2 h2 {
  font-size: 2.7rem;
}

.content2 p {
  font-size: 1.2rem;
}








.information3 {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.img4 {
  flex: 2;
  margin: 4.5rem 0 0 4.8rem;
}

.img4 img {
  max-height: 90vh;
  border-radius: 7%;

}

.content3 {
  flex: 2;
  margin-right: 5rem;
  color: black;
  padding-left: 2rem;
}

.content3 h2 {
  font-size: 2.7rem;
}

.content3 p {
  font-size: 1.2rem;
}
.arrow-button .circle:before {
  content: '→';
  font-size: 1.5rem;
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 1.8rem;
  height: 1.8rem;
  padding-bottom: 0;
  border-radius: 50%;
  background: white;
  position: relative;
  border: none;
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8rem;
  margin-left: 0.6rem;
}
.arrow-button {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border: none;
  padding: 0.6rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3.2rem;
  position: relative;
  overflow: hidden;
}

.arrow-button:hover {
  background-color: white;
  color: black;
  border:  1px solid grey;
}

.arrow-button .circle:hover {
  transform: translateX(-0.3rem);
}

.arrow-button:hover .circle:before {
  transform: translate(-80%, -50%);
}
