body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  z-index: 1000;
  color: white;
  border-bottom: 0.016rem solid white;
}
.navbar::after {
  content: "";
  display: block;
  width: 88.8%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 5.1%; /* Center the line by moving it from the left */
}

.logo {
  margin-right: -2rem;
}

.logo h2 {
  font-size: 2rem;
  margin: 0;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 5rem;
}

.nav-links li {
  margin-right: 1rem;
  font-size: 0.5rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}

.nav-links li a:hover{
  text-decoration: underline;
}

